.compare-product{
    padding-top: 20px;
}
.compare-product{
    margin: auto;
}
.compare-product .img-product{
    max-width: 500px;
    margin: auto;
    overflow: hidden;
}
.compare-product .img-product img{
    width: 100%;
    height: 100%;
}
.compare-product .content-product .product-name {
    text-align: center;
}
.compare-product .content-product .product-name a{
    text-align: center;
    font-size: 24px;
}
.compare-product .content-product .product-price{
    text-align: center;
    font-size: 18px;
}
.compare-product .content-product .product-style{
    color: #756565;
    font-size: 13px;
    text-align: center;
}
.js-image-zoom__zoomed-area{
    display: none !important;
}
.js-image-zoom__zoomed-image{
    width: 350px !important;
    height: 200px !important;
}
.product-img-zoom-container{
    z-index: 100;
    position: absolute;
    right: 0;
    top: 0;
}
.ajax-compare-product .product-img-zoom-container{
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
}
@media only screen and (max-width: 500px){
    .compare-product .img-product{
        max-width: 100%;
        height: auto;
    }
}