.header .header-box{
    background: #c8ad5b;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.wrapper-search::after{
    content: '';
    display: block;
    clear: both;
}
.header .header-box .name-company{
    font-size: 24px;
    font-weight: 700;
}
.header .header-box .info{
    font-size: 16px;
}
.header .header-box-info .wrapper-icon{
    display: block;
    float: left;
    position: relative;
    width: 50%;
    height: 25px;
}

.header .header-box-info .icon{
    position: absolute;
    left: 0;
    display: inline-block;
    color: #ffffff;
    background: #c8ad5b;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin: auto;
    text-align: center;
    font-size: 11px;
    padding-top: 9px;
    z-index: 2;
}

.header .header-box-info .icon-content{
    position: absolute;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    top: 5px;
    text-align: right;
    border-radius: 30px;
    padding: 0px 8px;
}
.wrapper-icon:hover .icon{
    background: #292929;
}
.wrapper-icon:hover .icon-content{
    background: #ccc;
}
.header .header-box-info .icon .fas{
    line-height: 2.1;
}
.carousel-inner{
    height: 700px;
    overflow: hidden;
}
.carousel-inner img{
    /* height: 700px; */
}
.header-menu{
    background: #292929;
    
}
.header-menu a{
    display: block;
    color: #fff;
}
.header-menu .header-menu-list{
    position: relative;
}
.header-menu .header-menu-list-child{
    display: none;
    position: absolute;
    top: 34px;
    left: -10px;
    width: calc(100% + 20px);
    z-index: 100;
    background: #292929;
    
}
.header-menu .col:hover .header-menu-list-child{
    display: block;
}
.header-menu .header-menu-list-child li{
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ffffff;
}
.header-menu .header-menu-list-child li a{
    color: #fff;
}
.header-menu .header-menu-list-child li:hover{
    background: #c8ad5b;
}
.header-menu .col{
    padding: 10px;
    border-right: 1px solid #fff;
    text-align: center;
}
.header-menu .col:hover{
    background: #c8ad5b;
    border-color: #c8ad5b;
}
.wrapper-cart-header{
    position: relative;

}
.wrapper-cart-header .wrapper-cart-header-popup{
    position: absolute;
    top: 30px;
    right: 0;
    background: transparent;
    padding: 20px;
    z-index: 100;
    display: none;
}
.wrapper-cart-header:hover .wrapper-cart-header-popup{
    display: block;
}
.wrapper-cart-header .wrapper-cart-header-popup .cart-header-popup-item{
    padding: 10px;
    width: 300px;
    background: #616161;
    display: flex;
    color: #fff;
    
}
.wrapper-cart-header .wrapper-cart-header-popup .cart-header-popup-item:first-child{
    border-radius: 6px 6px 0 0;
}
.wrapper-cart-header .wrapper-cart-header-popup .cart-header-popup-item a{
    color: #fff;
}
.wrapper-cart-header .wrapper-cart-header-popup .cart-header-popup-item .img-popup-cart{
    background-size: cover;
    background-position: center;
    width: 75px;
    height: 75px;
    margin-top: 15px;
    overflow: hidden;
    border-radius: 100%;
}
.wrapper-cart-header .wrapper-cart-header-popup .cart-header-popup-item .cart-header-popup-item-content{
    padding-left: 10px;
}
.wrapper-cart-header .wrapper-cart-header-popup .cart-header-popup-footer{
    padding: 10px;
    border-radius: 0 0 6px 6px ;
    background: #616161;
    border-top: 1px solid #fff;
    text-align: center;
}
.wrapper-cart-header .wrapper-cart-header-popup .cart-header-popup-footer a{
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
    display: block;
}
.wrapper-cart-header .wrapper-cart-header-popup .cart-header-popup-item .cart-header-popup-item-content .name{
    font-size: 24px;
    font-weight: 700;
}
.wrapper-cart-header .wrapper-cart-header-popup .cart-header-popup-item .cart-header-popup-item-content .price{
    font-size: 12px;
    font-style: italic;
    color: #ccc;
}
.header-intro-title{
    font-family: svn;
    text-shadow: 0 0 5px #c8ad5b;
    margin-top: 10px;
}
.header-intro-title::after{
    content: '';
    display: block;
    clear: both;
}
.header-intro-title .header-intro-title-item{
    width: 50%;
    text-align: center;
}
.header-intro-title .header-intro-title-item:first-child{
    float: left;
}
.header-intro-title .header-intro-title-item:last-child{
    float: right;
}
@media only screen and (max-width: 1090px){
    .header .header-box-info .wrapper-icon{
        float: unset;
    }
    .header .header-box-info .wrapper-icon.wrapper-cart-header{
        margin-top: 20px;
    }

}
@media only screen and (max-width: 767px){
    .carousel-inner{
        height: auto;
    }

}
@media only screen and (max-width: 520px){
    .header-intro-title .header-intro-title-item{
        text-align: center;
        float: unset !important;
        margin: auto;
    }
}
