.product-list-kind{
    background: #dfdfdf;
    padding: 15px;
    height: 100%;
}
.product-list-kind .product-list-kind-header{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}
.product-list-kind .product-list-kind-item{
    border-bottom: 1px solid;
    padding: 30px;
    font-size: 24px;
    text-align: center;
    font-weight: 500;
}
.product-list-kind .row:last-child .product-list-kind-item{
    border-bottom: unset;
}
.product-list-kind .product-list-kind-item.no-bg a{
    color: #333;
}
.product-list-kind .product-list-kind-item.no-bg::before{
    content: none;
}
.product-list-kind .product-list-kind-item a{
    color: #fff;
}
.product-list-kind .product-list-kind-item::before{
    background-color: #c8ad5b63;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: calc(100% - 30px);
    left: 15px;
    top: 0;
}

.news{
    background: #c8ad5b;
}
.news .title{
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    padding: 10px;
}
.intro .title{
    color: #c8ad5b;
    font-size: 136px;
    padding: 5px;
}
.intro .contact::before{
    content: '';
    display: block;
    border: 1px solid;
    margin: 20px auto;
    max-width: 300px;
}
.intro .contact div{
    font-size: 30px;
    font-weight: 500;
}
.intro2{
    background: #dfdfdf;
    padding: 20px;
    text-align: center;
    color: #bb0000;
}
.intro2 .text{
    font-size: 18px;
    width: 100px;
    display: inline-block;
    text-align: left;
    margin-left: 10px;
}
.intro2 .col{
    border-right: 1px solid #bb0000;
}
.intro2 .col:last-child{
    border: unset;
}

.send-success-message{
    background: #bb0617;
    color: #fff;
    font-style: italic;
    text-align: center;
    max-width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    font-size: 18px !important;
    margin-bottom: 10px;
}
.title-news a{
    font-size: 18px;
    display: block;
    max-width: 100%;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    min-height: 20px;
}
.img-news{
    overflow: hidden;
    width: 100%;
}
.img-news:hover{
    border: 3px solid red;
    /* box-shadow: 1px 2px 3px 6px #ccc; */
}
.img-news img{
    width: 100%;
}
