.news-image{
    margin : auto;
    text-align: center;
    width: 60%;
    overflow: hidden;
}
.news-image img{
    width: 100%;
}
.news-container img{
    max-width: 100%;
}
@media only screen and (max-width: 1090px){
    .news-container .col-12{
        padding: 0;
    }
    .news-image{
        width: 100%;
    }
}
