*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: 'mtd';
    src: url('MTD_Colatin.otf');
  }
.container-fluid{
    padding: 10px 0 0 0;
}
.row{
    margin: 0;
    padding: 0;
}
.pd0{
    padding: 0;
}
.pdl0{
    padding-left: 0;
}
.pdr0{
    padding-right: 0;
}
.mg0{
    margin: 0;
}
.bg-main{
    background: #c8ad5b;
}
.color-w{
    color: #ffffff;
}
.form-control:focus{
    box-shadow: unset;
    border-color: #ced4da;
}
a,a:focus,a:hover{
    color: #333333;
}
a:hover{
    text-decoration: unset;
}
ul>li{
    text-decoration: none;
    list-style: none;
}
.sala-input{
    background: #eee;
    border: #eee
}
.icon-filter{
    background: #333333;
    color: #ffffff;
    padding: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 100%;
    margin: auto;
    cursor: pointer;
}
.no-bg{
    background-image: unset !important;
}
input.sala-input:focus{
    border: 1px solid #eee
}
